#WILLIAM
name: WILLIAM_Release
on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'feature/*'
jobs:
  release:
    name: cargo build
    runs-on: ubuntu-latest
    container:
      image: rust:trixie
    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo packages
        id: cache-cargo
        uses: actions/cache@v4
        with:
          path: |
              ~/.cargo/registry
              ~/.cargo/bin
          key: cargo-typst-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - if: ${{ steps.cache-cargo.outputs.cache-hit != 'true' }}        
        name: Install typst
        run: cargo install typst-cli

      - name: build cargo make
        run: make release 
      
      - name: make documentation 
        run: make documentation
      
      - name: make clean
        run: make clean
  