#WILLIAM
name: WILLIAM_Release
on:
  pull_request:
    branches:
      - 'main'
jobs:
  release:
    name: cargo build
    runs-on: ubuntu-latest
    container:
      image: rust:trixie
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt update
          apt install -y curl xz-utils

      - name: Install typst
        run: |
          apt update
          apt install -y curl tar
          curl -L https://github.com/typst/typst/releases/download/v0.11.1/typst-x86_64-unknown-linux-gnu.tar.xz \
            | tar -xJ
          mv typst-x86_64-unknown-linux-gnu/typst /usr/local/bin/typst

      - name: build cargo make
        run: make release 
      
      - name: make documentation 
        run: make documentation
      
      - name: make clean
        run: make clean
  